@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body { height: 100%; background:#0c0679 }
body {
  font-family: 'Noto Sans KR', sans-serif; color: #0f689a;
}
ul, ol, li { list-style: none; }
a { color: #666666;}
